<div style="display: grid; grid-template-columns: 50% 50%;margin: 10px 10px 10px 10px;">
    {{#each tour}}
    <div class="container-img-card">
        <form method="GET" hidden name="form-show-detailTour">
            <input type="text" hidden name="TenTour" value="{{this.TenTour}}"> 
            <input type="text" hidden name="MaTour" value="{{this.MaTour}}"> 
            <input type="text" hidden name="ThoiGianTour" value="{{this.ThoiGianTour}}"> 
            <input type="text" hidden name="MoTa" value="{{this.MoTa}}"> 
        </form>
            <a href="/tours/{{this.MaTour}}" class="tag-a-detail-tour">
                <img class="img-headerPosition" src="{{this.AnhDaiDien}}" alt="">
                <div class="overlay-img-headerPosition">
                    <p class="overlay-inside-date">{{this.ThoiGianTour}}</p>
                    <p class="overlay-inside-title">Tour : {{this.TenTour}} </p>
                    <div class="overlay-inside-interaction">
                        <i class="fas fa-comment-dots overlay-inside-interaction-icon"></i>
                        <span class="overlay-inside-interaction-title">120k</span>
                        <i class="fas fa-eye overlay-inside-interaction-icon"></i>
                        <span class="overlay-inside-interaction-title">120k</span>
                        <i class="fas fa-share-alt overlay-inside-interaction-icon"></i>
                        <span class="overlay-inside-interaction-title">120k</span>
                    </div>
                </div>
            </a>
    </div>
    {{/each}}
    <div class="container-img-card">
        <img class="img-headerPosition" src="./img/hoian/hoian1.png" alt="">
        <div class="overlay-img-headerPosition">
            <p class="overlay-inside-date">20 November 2020</p>
            <p class="overlay-inside-title">Hiển thị cho bớt trống chứ chưa có tour này :( </p>
            <div class="overlay-inside-interaction">
                <i class="fas fa-comment-dots overlay-inside-interaction-icon"></i>
                <span class="overlay-inside-interaction-title">120k</span>
                <i class="fas fa-eye overlay-inside-interaction-icon"></i>
                <span class="overlay-inside-interaction-title">120k</span>
                <i class="fas fa-share-alt overlay-inside-interaction-icon"></i>
                <span class="overlay-inside-interaction-title">120k</span>
            </div>
        </div>
    </div>
</div>

<script>
    let formDelete = document.forms['form-show-detailTour']


    $('.container-item-tag').removeClass('active')
    $('.container-item-tag').eq(0).addClass('active')
    // ngăn k cho sự kiện của thẻ a đc chuyển trang, chúng ta sẽ chuyển trang bằng form 
    $('.tag-a-detail-tour').on('click', function (e) {
        e.preventDefault()
        console.log(formDelete)
        formDelete.action = '/detailTour'
        formDelete.submit()
    })
</script>