<link rel="stylesheet" href="/css/detailTour.css">
{{!-- source --}}
<div style="margin: 10px;">
    <table style="width:auto">
        <tr>
            <td id="border-icon-back-detail-tour" >
                <a href="/dashboard" style="text-decoration: none;">
                    <i class="fas fa-arrow-circle-left icon-back-detail-tour"></i>
                </a>
            </td>
            <td style="background-color: white;">
                <span class="title-detail-tour">Tour : {{TenTour}}</span>
                <span class="title-detail-tour timetour">( {{ThoiGianTour}} )</span>
            </td>
        </tr>
    </table>

    <p class="header-title">Các địa điểm nổi tiếng</p>
    {{!-- list img --}}
    <div style="display: grid;grid-template-columns: 25% 25% 25% 25% ;grid-auto-rows:150px;margin:10px 50px 10px 50px">
        {{#each img}}
        <div>
            <img src="{{this.url}}" alt="" class="tour-img">
        </div>
        {{/each}}
    </div>
    <p class="header-title">Mô tả</p>
    <p class="detail-tour">
       {{MoTa}}
    </p>
    <p class="header-title">Lịch trình cụ thể</p>
    <div>
        {{#each lichtrinh}}
        <div style="display: grid;grid-template-columns: 45% 10% 45%;">
            <div style="text-align: right;">
                <span>{{this.NgayGio}}</span>
                <span>11:20 - 12:40</span>
            </div>
            <div style="position: relative;float: left;">
                <i class="fas fa-map-marker-alt" style="width: 100px;height: 30px;color: rgb(44, 89, 173);"></i>
                <p style="border-left: 3px dashed rgb(44, 89, 173);height:60%;margin-left: 49%">
                </p>
            </div>
            <div style="text-align: left;">
                <span>Tiến hành đi du lịch</span>
                <p>{{this.NoiDung}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{!-- overlay để hiện phóng to cái img --}}
<div id="overlay-img-tour">
    <img src="/img/tour1/hoian1.png" alt="" id="tour-img-zoom-in-overlay">
</div>

<script>
    $('.tour-img').on('click', function () {
        console.log($(this).attr('src'))
        $('#tour-img-zoom-in-overlay').attr('src', $(this).attr('src'))
        $('#overlay-img-tour').css('display', 'block')

    })
    $('#overlay-img-tour').on('click', function () {
        $(this).css('display', 'none')
    })
    $('.container-item-tag').removeClass('active')
    $('.container-item-tag').eq(3).addClass('active')

</script>