<link rel="stylesheet" href="/css/Tour.css">
<div class="staff__header">
    <div class="staff__search">
        <div class="staff__search-icon">
        <i class="fas fa-search"></i>
        </div>
        <input type="text" class="staff__search-input" placeholder="Search...">
    </div>
    <div class="staff__add">
        <a class="button-open-add-new-item-overlay">
        <div class="staff__add-btn">
            <i class="staff__add-icon fas fa-plus"></i>
        </div>
        </a>
    </div>
</div>
<div class="tours__container">
    <div class="container-search-content">
        <input type="checkbox" hidden id="checkbox-search-content" class="checkbox-search-content">
        <label for="checkbox-search-content">
            <i class="fas fa-search icon-search-content"></i>
        </label>
        <label class="overlay-under-search-content" for="checkbox-search-content"></label>
        <div class="search-content">
            <div class="overlay-search-content">
                <i class="fas fa-search icon-search-content"></i>
                <input type="text" class="overlay-input-search-content">
                <button class="overlay-button-search-content">Search</button>
            </div>
        </div>
    </div>
    {{!-- <div style="margin-top: 80px;"></div> --}}
    <div class="tours__container-header">
        <h3 class="header-title">Thông tin tour hiện có </h3>
        {{!-- <button class="button-open-add-new-item-overlay">Thêm tour mới</button> --}}
    </div>
    {{!-- table --}}
    <div>
        <table>
            <tr>
                <th>#</th>
                <th>Mã Tour</th>
                <th>Tên Tour</th>
                <th>Thời gian Tour</th>
                <th>Tên Loại Tour</th>
                <th>Chức năng</th>
            </tr>
            {{#each tableTours}}
            <tr>
                <td>{{sumIndex @index 1}}</td>
                <td>{{this.MaTour}}</td>
                <td>{{this.TenTour}}</td>
                <td>{{this.ThoiGianTour}}</td>
                <td>{{this.TenLoaiTour}}</td>
                <td>
                    <button style="background-color: transparent;color:black" class="btn-edit-tour"
                        title="Sửa thông tin" data-totalReview="{{this.MaTour}}">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button style="background-color: transparent;color:black" class="btn-show-tour"
                        title="Ẩn với người dùng" data-totalReview="{{this.MaTour}}">
                        <div class="icon-show-tour">
                            <i class="fas fa-eye"></i>
                        </div>
                        <div class="icon-not-show-tour" style="display: none;">
                            <i class="fas fa-eye-slash"></i>
                        </div>
                    </button>
                </td>
            </tr>
            {{!-- bảng edit cho từng tour --}}
            {{/each}}
        </table>

    </div>
</div>


{{!-- dialog add new tour --}}
<div class="overlay-add-new-item">
    <div class="container-add-new-item">
        {{!-- code content here --}}
        <form method="POST" action="/handle/addTour" name="form-add-new-tour">
            <p class="title-tour-overlay-add-new-item">Thêm tour mới</p>
            <div style="display:grid;grid-template-columns:30% 70% ; margin:10px;">
                <div class="container-fieldset-overlay-add-new-item">
                    <fieldset class="fieldset-overlay-add-new-item">
                        <legend class="legend-overlay-add-new-item">Mã Tour</legend>
                        {{#each maxTour}}
                        <input type="text" name="MaTour" id="MaTour-addTour" readonly
                            class="input-inside-fieldset-overlay-add-new-item" value="{{this.max}}" data-MaTour="{{this.max}}">
                        {{/each}}
                    </fieldset>
                </div>
                <div class="container-fieldset-overlay-add-new-item">
                    <fieldset class="fieldset-overlay-add-new-item">
                        <legend class="legend-overlay-add-new-item">Tên Tour</legend>
                        <input type="text" name="TenTour" id="" class="input-inside-fieldset-overlay-add-new-item">
                    </fieldset>
                </div>
            </div>
            <div style="display:grid;grid-template-columns:33.33% 33.34% 33.33%; margin:10px;">
                <div class="container-fieldset-overlay-add-new-item">
                    <fieldset class="fieldset-overlay-add-new-item">
                        <legend class="legend-overlay-add-new-item">Giá Tour</legend>
                        <input type="text" name="GiaTour" id="" class="input-inside-fieldset-overlay-add-new-item">
                    </fieldset>
                </div>
                <div class="container-fieldset-overlay-add-new-item">
                    <fieldset class="fieldset-overlay-add-new-item">
                        <legend class="legend-overlay-add-new-item">Tên Loại Tour</legend>
                        {{!-- <input type="text" name="TenLoaiTour" id=""
                            class="input-inside-fieldset-overlay-add-new-item"> --}}
                        <select name="MaLoaiTour" id="" class="input-inside-fieldset-overlay-add-new-item">
                            {{#each loaitours}}
                            <option value="{{this.MaLoaiTour}}">{{this.TenLoaiTour}}</option>
                            {{/each}}
                        </select>
                    </fieldset>
                </div>
                <div class="container-fieldset-overlay-add-new-item">
                    <fieldset class="fieldset-overlay-add-new-item">
                        <legend class="legend-overlay-add-new-item">Thời gian</legend>
                        <input type="text" name="ThoiGianTour" id="" class="input-inside-fieldset-overlay-add-new-item">
                    </fieldset>
                </div>
            </div>
            <div style="margin: 20px;">
                <fieldset class="fieldset-overlay-add-new-item">
                    <legend class="legend-overlay-add-new-item">Mô tả</legend>
                    <textarea name="MoTa" id="" rows="5" class="input-inside-fieldset-overlay-add-new-item"></textarea>
                </fieldset>
            </div>
            <div style="margin: 20px;">
                <span style="font-weight:600;font-size:15px">Lịch trình chuyến đi </span>
                <button class="button-add-new-action-overlay-add-new-item">
                    <span>Thêm sự kiện </span>
                </button>
            </div>
            {{!-- add 1 cái sự kiện mới cho lịch trình --}}
            <div id="container-add-new-event-overlay-add-new-item">
                <div class="container-layout-add-new-tour">
                    <div style=" margin:5px 10px 5px 10px;">
                        <span>Số thứ tự địa điểm 1</span>
                        <span class="cancel-SoThuTuDiaDiem">
                            {{!-- <i class="fas fa-trash-alt " style="width: 20px;cursor:pointer"></i> --}}
                        </span>
                        <div class="container-fieldset-overlay-add-new-item">
                            <fieldset class="fieldset-overlay-add-new-item">
                                <legend class="legend-overlay-add-new-item">Ngày giờ</legend>
                                <input type="text" name="1-NgayGio" id="" class="input-inside-fieldset-overlay-add-new-item">
                            </fieldset>
                        </div>
                    </div>
                    <div style="margin:5px 20px 5px 20px;">
                        <fieldset class="fieldset-overlay-add-new-item">
                            <legend class="legend-overlay-add-new-item">Nội dung</legend>
                            <textarea name="1-NoiDung" id="" rows="3"
                                class="input-inside-fieldset-overlay-add-new-item"></textarea>
                        </fieldset>
                    </div>
                    <hr class="hr-overlay-add-new-item">
                </div>
            </div>
            {{!-- add img --}}
            <div style="margin: 20px;">
                <span style="font-size: 12px;color:rgb(184, 184, 184)">Thêm ảnh hoặc địa điểm nổi tiếng</span>
                <span style="font-size: 12px;color:#00ab55;cursor: pointer;" id="upload_widget">Chọn ảnh</span>
            </div>
            {{!--cancel save --}}
            <div style="text-align: center;">
                <button class="btn-add-new-item cancel">Cancel</button>
                <button class="btn-add-new-item save">Save</button>
            </div>
        </form>
    </div>
</div>




{{!-- viết code html với css phía trên --}}
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>

{{!-- những đoạn code liên quan đến page này thì code ở link dưới nó nằm trong thư mục public --}}
<script src="util/tours.js"></script>

<script>
    $('.container-item-tag').removeClass('active')
    $('.container-item-tag').eq(3).addClass('active')
</script>