<link rel="stylesheet" href="/css/addTouristGroup.css">
<div class="addtg__header">
    <div class="addtg__header-back">
        <a href="/customers" class="addtg__header-back-link">
            <i class=" fas fa-chevron-left"></i>
        </a>
    </div>
    <h3 class="addtg__heading">Thêm đoàn du lịch mới</h3>
</div>
<div class="addtg__container">
    {{!-- <a href="/customers">Back(nhấn vào để lui lại)</a> --}}
    <form action="/handle/addDoanDuLich" method="POST">
        <input type="text" name="totalNhanViens[]" id="input-list-nhanvientour" hidden>
        <input type="text" name="CheckFinish" id="" value="false" hidden>
        <input type="text" name="SoThuTuDiaDiem" id="" value="0" hidden>
        <input type="text" value="1240000" name="ChiPhi" id="input-ChiPhi-real" hidden>
        <div class="addtg__container-info">
            <label class="addtg__container-label" for="">Mã đoàn</label>
            <input class="addtg__container-input" type="text" name="MaDoan" id="" value="{{MaDoan}}" readonly>
        </div>
        <h4 class="addtg__container-header">Nhập thông tin đoàn du lịch</h4>
        <div>
            <div class="addtg__container-tourist-info" >
                <div class="addtg__container-info">
                    <label class="addtg__container-label" for="">Tên đoàn</label>
                    <input class="addtg__container-input" type="text" name="TenDoan" id="">
                </div>
                <div class="addtg__container-info">
                    <label class="addtg__container-label" for="">Ngày khởi hành</label>
                    <input class="addtg__container-input" type="date" id="input-date-NgayKhoiHanh">
                </div>
                <input type="text" name="NgayKhoiHanh" id="input-real-date-NgayKhoiHanh" hidden>
            </div>
            <div>
                 <div class="addtg__container-info">
                <label class="addtg__container-label" for="">Chọn tour muốn đi</label>
                <select class="addtg__container-select" name="MaTour" id="">
                    {{#each tours}}
                    <option value="{{this.MaTour}}">{{this.TenTour}}</option>
                    {{/each}}
                </select>
                 </div>
            </div>
        </div>
        {{!-- Nhập thông tin hành khách trong đoàn --}}
        <div id="container-add-new-khachhang">
            <div class="container-add-new-header">
                <h4 class="addtg__container-header">Nhập thông tin hành khách trong đoàn</h4>
                <button class="button-add-new-khachhang">Thêm khách hàng</button>
            </div>
            <div class="item-add-new-khachhang">
                <div class="item-add-new-line">
                    <span class="item-add-new-tourist">Khách hàng 1</span>
                    {{!-- <div class="delete-new-khachhang" style="cursor: pointer;">
                        <i class="fas fa-trash-alt"></i>
                    </div> --}}
                </div>
                <div>
                    <div class="addtg__container-info">
                        <label class="addtg__container-label" for="">Tên khách hàng:</label>
                        <input class="addtg__container-input" type="text" name="1-HoTen" id="">
                    </div>
                    <div class="addtg__container-info">
                        <label class="addtg__container-label" for="">CMND/CC:</label>
                        <input class="addtg__container-input"t type="text" name="1-CMND" id="">
                    </div>
                    <div class="addtg__container-info">
                    <label  class="addtg__container-label"for="">Giới tính:</label>
                    <select class="addtg__container-select" name="1-GioiTinh" id="">
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </select>
                    </div>
                    <div class="addtg__container-info">
                        <labe class="addtg__container-label" for="">Số điện thoại:</labe>
                        <input class="addtg__container-input" type="text" name="1-SDT" id="">
                    </div>
                </div>
            </div>
        </div>
        <div class="addtg__container-info">
            <span class="addtg__container-label">Tổng Chi phí :</span>
            <input class="addtg__container-input" type="text" value="1240000" readonly id="input-ChiPhi"
                style="border: transparent;outline:none;cursor:pointer">
        </div>
        <div class="addtg__container-btn">
            <button>LƯU THÔNG TIN</button>
        </div>
    </form>
    <div>
        <h4 class="addtg__container-header">Danh sách các nhân viên hỗ trợ</h4>
        <div>
            <table>
                <tr>
                    <th>#</th>
                    <th>Mã nhân viên</th>
                    <th>Tên nhân viên</th>
                    <th>Chức vụ</th>
                    <th>Số điện thoại</th>
                </tr>
                {{#each nhanviens}}
                <tr class="tr-nhanvientour">
                    <td>
                        <input type="checkbox" name="" id="" class="input-checkbox-nhanviens" >
                    </td>
                    <td>{{this.MaNhanVien}}</td>
                    <td>{{this.TenNhanVien}}</td>
                    <td>{{this.ChucVu}}</td>
                    <td>{{this.SDTNhanVien}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
        <div class="addtg__container-btn">
            <button id="button-cofirm-addNhanVienTours">XÁC NHẬN</button>
        </div>
    </div>
</div>

<script src="/util/addDoanDuLich.js"></script>